.search {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
  }
  
  .search-input {
    height: 40px;
    width: 1300px; 
    color: rgba(47, 111, 66, 0.5);
    font-size: 24px;
    border-color: rgba(47, 111, 66, 0.5);
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 40px;
    margin-top: 100px;
  
  }
  
  .search .btn {
    width: 100px;
    height: 50px;
    margin-bottom: -15px;
    background-color:#be8d4a;
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
  }

.product-details{
    border: 1px solid #fff;
    border-radius: 20px;
    width: 300px;
    height: 470px;
    align-items: center;
    display:grid;
    margin-left: 35px;
    padding: 20px;
    margin-bottom: 40px;
 
    
}
.img{
    margin-top: 20px;
}
.title{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
.price{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.courses {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
    gap: 20px; 
    max-width: 1700px;
    margin-left: 100px;
    margin-top: 20px;
  }
  

.btn:hover{
    background-color: #7d5926;
    color: #fff;
}


.btn-link {
  margin-top: 30px;
  font-size: 14px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  background-color: #be8d4a;
  padding: 8px 15px;
  border-radius: 10px;
}


.btn-link:hover {
  background-color: #7d5926;

} 

.container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
